*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, serif;
}
.wrapper{
  margin: 0 auto;
  height: 1310px;
  width: 910px;
  padding: 0 45px;
  background-color: #ffffff;
}
header{
  height: 49px;
  width: 910px;
  background-color: #ffffff;
  }
  .contacts{
    width: 303px;
    height: 30px;
    padding: 18px 1px 1px 2px;
    background-color: white;
    color: #5e696d;
    font-size: 17.3px;
    letter-spacing: 0.8px;
    text-align: center;
    }
    .phonelogo{
      width: 21px;
      height: 21px;
      margin-top: -2px;
      margin-left: 7px;
      background-color: #164f71;
      border-radius: 100%;
    }
    .registration{
      width: 494px;
      height: 24px;
      margin-top: 13px;
      margin-left: 7px;
      margin-bottom: 16px;
      background-color: #164f71;
      background-image: linear-gradient(rgba(31,102,133,1), rgba(13,54,90,0.7));
      border-radius: 4px;
      box-shadow: 1px 1px 4px grey;
      }
        .logpic{
          width: 17px;
          height: 20px;
          padding-top: 3px;
          padding-left: 5px;
        }
        .login{
          width: 112px;
          height: 12px;
          margin-top: 3px;
          margin-left: -2px;
          border-radius: 2px;
        }
         .enter{
          width: auto;
          height: 15px;
          margin-top: 6px;
          margin-left: 5px;
          text-align: center;
          }
          .brd{
            margin-left: 1px;
          }
          .enter a{
            display: block;
            font-size: 11px;
            text-decoration: none;
            color: white;
          }
            .help{
              height: 20px;
              margin-top: 2px;
              margin-left: 17px;
              text-align: center;
            }
            .help a{
              color: #bfbfbf;
              font-size: 11px;
              line-height: 1px;
              letter-spacing: 0.6px;
            }
      .links{
        width: 75px;
        height: 18px;
        margin-top: 14px;
        margin-left: 12px;
          background-color: #ffffff ;
        border-radius: 15px;
        text-align: center;
        border: 1px solid grey;
        box-shadow: 1px 1px 2px grey;
      }
        .links  a{
          text-decoration: none;
        }
        .regform{
          display: inline-block;
          vertical-align: top;
        }
.baner{
  height: 238px;
  width: 908px;
  margin-left: 3px;
  background-image: url("wallpapper.png");
  background-repeat: no-repeat;
}
.menu{
  height: 33px;
  width: 771px;
  margin-top: 5.5px;
  margin-left: 3px;
  padding-left: 140px;
  background-color: #101213;
  background-image: linear-gradient(rgba(58,64,70,1), rgba(9,10,10,0.7));
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
}
  .menu li{
    display: inline-block;
    height: 27px;
    width: auto;
    margin-top: 3px;
    margin-right: 13px;
  }
    .menu a{
      display: block;
      padding: 5px 6px 5px 6px;
      text-decoration: none;
      color: #b1bcc0;
      font-size: 14px;
      letter-spacing: 0.55px;
      }
      .menu a:hover{
        background: #103d61;
        padding: 5px 6px 5px 6px;
        color: #ffffff;
        background-image: linear-gradient(rgba(31,102,133,1), rgba(13,54,90,0.7));
        border-radius: 20px;
      }
      .midline{
        display: inline-block;
        vertical-align: top;
      }
        .basket{
          margin-top: 8px;
          margin-left: 50px;
          font-size: 12px;
          color: #b1bcc0;
        }
          .box{
            width: 15px;
            height: 16px;
            margin-top: 0px;
            margin-left: -17px;
            margin-right: 8px;
            padding-left: 2px;
          }
.select{
  height: 160px;
  width: 910px;
  margin-top: 3px;
  background-color: #ffffff;
}
  .search{
    float: left;
    width:412px;
    height: 132px;
    margin-top: 10px;
    margin-left: 8px;
    background-color: #ffffff;
    border-radius: 17px;
    border: 1px solid #c2c3c3;
    box-shadow: 1px 1px 2px grey;
  }
      .tyres{
        float: left;
        width: 190px;
        height: 135px;
        margin-top: 8px;
        margin-left: 15px;
        background-color: #ffffff;
        border-radius: 19px;
        border: 1px solid #c2c3c3;
        box-shadow: 1px 1px 2px grey;
      }
        .rims{
          float: right;
          width: 267px;
          height: 134px;
          margin-top: 8px;
          margin-right: 2px;
          background-color: #ffffff;
          border-radius: 19px;
          border: 1px solid #c2c3c3;
          box-shadow: 1px 1px 2px grey;
        }
      .clearfix:after{
          content: ' ';
          clear: both;
          display: block;
          float: none;
        }
.content{
  height: 630px;
  width: 910px;
  background-color: #ffffff;
}
.catalog{
    width: 190px;
    height: 628px;
    padding: 2px 0px 0px 2px;
    float: left;
    background-color: #ffffff;
    }
.catalog h2{
    width: 183px;
    height: 19px;
    margin-bottom: 8px;
    border: 1px solid grey;
    border-radius: 20px;
    text-align: left;
    padding-top: 6px;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #114165;
    box-shadow: 1px 1px 2px grey;
  }
  .catalog h3{
    width: 148px;
    height: 21px;
    border: 1px solid grey;
    border-radius: 20px;
    text-align: left;
    margin: -3px 1px 1px 3px;
    padding-top: 5px;
    font-size: 14px;
    letter-spacing: -1px;
    color: #114165;
    }
    .circul{
      width: 12px;
      height: 12px;
      margin:-3px 5px 0 3px;
      border: 5px solid  #114165;
      border-radius:20px;
      float: left;
    }
    .circul2{
      width: 11px;
      height: 10px;
      margin:-5px 5px 0 3px;
      padding-bottom: 2px;
      border: 5px solid  #114165;
      border-radius:20px;
      background-color: #164f71;
      float: left;
    }
      .catalog section{
        margin: 16px 0 -17px 0;
      }
        aside a{
        text-decoration: none;
      }
      .catalogTyres li{
        margin-top: 1.5px;
        margin-bottom: 5px;
        margin-left: 37px;
        padding: 1px 1px 1px 1px;
        list-style: circle;
        list-style-position: inside;
        }
         .catalogTyres a{
          text-decoration: none;
           color: #465961;
           font-size: 13px;
           letter-spacing: 0.2px;
         }
         .catalogTyres a:hover{
           text-decoration: underline;
           color: #2c4d6d;
           font-style: italic;
           font-weight: bold;
           font-size: 14px;
         }

           .button{
             width: 80px;
             height: 25px;
             margin-top: 10px;
             margin-left: 20px;
             font-size: 12px;
             color: #ffffff;
             background: #164f71;
             background-image: linear-gradient(rgba(31,102,133,1), rgba(13,54,90,0.7));
             border: none;
             border-radius: 20px;
             box-shadow: 1px 1px 2px grey;
             cursor: pointer;
           }
.text{
    width: 505px;
    height: 627px;
    margin: 0 190px 0 194px;
    padding-left: 22px;
    border-radius: 3px;
    background-color: #c8d1d4;
    background-image: linear-gradient(rgba(228,231,232,1), rgba(148,167,176,0.7));
}
  main .text section{
    margin-bottom: 10px;
  }
  figure{
    display: inline-block;
    margin-right: 30px;
    margin-top: 12px;
    width: 135px;
    height: 150px;
    text-align: center;
    }
    figcaption{
      margin-top: -3px;
      margin-bottom: -2px;
      margin-left: 11px;
      font-size: 13px;
      letter-spacing: 0.5px;
      color: black;
    }
      figure a{
        margin-left: 9px;
       text-decoration: none;
        color: #114165;
        font-size: 15px;
        letter-spacing: 0.5px;
        font-weight: bold;
        }
          figure span{
            margin-left: 25px;
            font-size: 16px;
            letter-spacing: 0.5px;
            color: #114165;
            font-weight: bold;
            font-style: italic;
          }
    .frame{
      margin-top: 2px;
      margin-bottom: 4px;
      width: 77px;
      height: 113px;
      padding: 4px 32px 9px 28px;
      background: #ffffff;
      border: 1px solid #c2c3c3;
      border-radius: 10px;
    }
.brands{
    width: 180px;
    height: 628px;
    padding: 0px 0px 0px 0px;
    float: right;
    background: #ffffff;
    }
    .brands h2{
        width: 180px;
        height: 19px;
        margin-bottom: 8px;
        border: 1px solid grey;
        border-radius: 20px;
        text-align: left;
        padding-top: 6px;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #114165;
        box-shadow: 1px 1px 2px grey;
      }
      .brands h3{
        width: 134px;
        height: 21px;
        border: 1px solid grey;
        border-radius: 12px;
        text-align: left;
        margin: 14px 1px 1px 14px;
        padding-top: 5px;
        font-size: 14px;
        color: #114165;
        }
      .brands section{
        margin: 15px  0 -6px 0;
      }
  .brands p{
    color: #465961;
    margin: 9px 0 0 24px;
    font-size: 12px;
  }
  .brands input[type=checkbox]{
    margin-top: 1px;
    margin-right: 9px;
  }
  label{
    cursor: pointer;
  }
    .box2{
      margin-top: 5px;
      margin-left: 5px;
      }
.names{
  height: 50px;
  width: 793px;
  margin-bottom: 3px;
  padding-top: 33px;
  padding-left: 113px;
  background-color: #ffffff;
}
  .names nav span{
    padding: 0 1px 0 9px;
  }
footer{
  height: 90px;
  width: 910px;
  margin-left: 3px;
  padding-top: 8px;
  background-color: #213a4d;
  text-align: center;
}
  footer nav{
    margin-left: 5px;
  }
  footer span{
    padding: 0 4px;
    font-size: 12px;
    color:  #bec6c9;
  }
  footer a{
    text-decoration: none;
    font-size: 12px;
    color: #bec6c9;
  }
    footer a:hover{
      color: #52abcb;
    }
      footer p{
        margin-top: 13px;
        font-size: 10px;
        color: #7f4740;
      }
